# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [1]:
DATA_FOLDER = 'Data/ebola/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

1) Import all needed libraries

In [2]:
# imports
import pandas as pd
import numpy as np
import os

2) Create a dataframe with Guinea data

In [3]:
listing = os.listdir(DATA_FOLDER+'guinea_data')
guinea_data=pd.read_csv(DATA_FOLDER+'guinea_data/'+listing[0])

for infile in listing : 
    guinea_data_curr=pd.read_csv(DATA_FOLDER+'guinea_data/'+infile)
    guinea_data=pd.merge(guinea_data,guinea_data_curr, how='outer')
#fill blanks or nan values with 0
guinea_data.fillna(0, inplace=True)

3) Reduce the data to 3 columns : Date, Description, Totals

In [4]:
guinea_data=guinea_data[['Date','Description','Totals']]
guinea_data.is_copy=False

4) Add a fourth column to indicate the country

In [5]:
guinea_data['Country']=['guinea']*len(guinea_data)
guinea_data.head()

         Date                        Description Totals Country
0  2014-08-04              New cases of suspects      5  guinea
1  2014-08-04             New cases of probables      0  guinea
2  2014-08-04             New cases of confirmed      4  guinea
3  2014-08-04  Total new cases registered so far      9  guinea
4  2014-08-04            Total cases of suspects     11  guinea

5) Create a dataframe with Liberia data

In [6]:
listing_liberia = os.listdir(DATA_FOLDER+'liberia_data')
liberia_data=pd.read_csv(DATA_FOLDER+'liberia_data/'+listing_liberia[0])

for infile_liberia in listing_liberia : 
    liberia_data_curr=pd.read_csv(DATA_FOLDER+'liberia_data/'+infile_liberia)
    liberia_data=pd.merge(liberia_data,liberia_data_curr, how='outer')
#fill blanks or nan values with 0
liberia_data.fillna(0, inplace=True)

6) Reduce the data to 3 columns : Date, Variable, National and add country column 'liberia'

In [7]:
liberia_data=liberia_data[['Date','Variable','National']]
liberia_data.is_copy=False

liberia_data['Country']=['liberia']*len(liberia_data)
liberia_data.head()

        Date                          Variable  National  Country
0  6/16/2014               Specimens collected       1.0  liberia
1  6/16/2014     Specimens pending for testing       0.0  liberia
2  6/16/2014            Total specimens tested      28.0  liberia
3  6/16/2014             Newly reported deaths       2.0  liberia
4  6/16/2014  Total death/s in confirmed cases       8.0  liberia

7) Columns' names need to be changed for the Liberia and Sierra Leone datasets in order to match those of the guinea data. Thus, Variable will be changed into Description and National into Totals

In [8]:
liberia_data.rename(columns={'Variable':'Description','National':'Totals'},inplace=True)

In [9]:
liberia_data.head()

        Date                       Description  Totals  Country
0  6/16/2014               Specimens collected     1.0  liberia
1  6/16/2014     Specimens pending for testing     0.0  liberia
2  6/16/2014            Total specimens tested    28.0  liberia
3  6/16/2014             Newly reported deaths     2.0  liberia
4  6/16/2014  Total death/s in confirmed cases     8.0  liberia

8) Create a dataframe with Sierra Leone data

In [10]:
listing_sl = os.listdir(DATA_FOLDER+'sl_data')
sl_data=pd.read_csv(DATA_FOLDER+'sl_data/'+listing_sl[0])

for infile_sl in listing_sl : 
    sl_data_curr=pd.read_csv(DATA_FOLDER+'sl_data/'+infile_sl)
    sl_data=pd.merge(sl_data,sl_data_curr, how='outer')
#fill blanks or nan values with 0
sl_data.fillna(0, inplace=True)

9) Reduce amount of data and add country column

In [11]:
sl_data=sl_data[['date','variable','National']]
sl_data.is_copy=False

sl_data['Country']=['sierra leone']*len(sl_data)
sl_data.head()

         date       variable National       Country
0  2014-08-12     population  6348350  sierra leone
1  2014-08-12    new_noncase        4  sierra leone
2  2014-08-12  new_suspected       10  sierra leone
3  2014-08-12   new_probable        1  sierra leone
4  2014-08-12  new_confirmed       11  sierra leone

10) Rename columns of Sierra Leone dataset

In [12]:
sl_data.rename(columns={'date':'Date','variable':'Description','National':'Totals'},inplace=True)

11) Merge all 3 dataframes representing each country's information into one single dataframe

In [13]:
first_merge=pd.merge(guinea_data,liberia_data,how='outer')
data=pd.merge(first_merge,sl_data,how='outer')

12) Change Date column type to datetime type

In [14]:
data['Date']=pd.to_datetime(data['Date'])

In [15]:
data.head()

        Date                        Description Totals Country
0 2014-08-04              New cases of suspects      5  guinea
1 2014-08-04             New cases of probables      0  guinea
2 2014-08-04             New cases of confirmed      4  guinea
3 2014-08-04  Total new cases registered so far      9  guinea
4 2014-08-04            Total cases of suspects     11  guinea

13) Define the conditions for each country to only select rows concerning new deaths and new cases. Our assumptions are the following : 
- For Guinea, we decided to take into account the following rows for new cases with description : 'Total new cases registered so far' which is the sum of the new cases of suspects, probables and confirmed. As for the new deaths, we are taking into account the rows with description mentioning 'New deaths registered' and we have applied a third condition to also get the 'New deaths registered today' part of one of the data, the trick is to gather all 'New deaths registered' rows with length inferior to len('New deaths registered')+10

- For Liberia, we are taking into account the rows with description containing the string 'New case/s' for the new cases and equal to 'Newly reported deaths' for the new deaths

- For Sierra Leone, we keep the following rows with description 'new_suspected', 'new_probable' and 'new_confirmed' for the new cases and all description starting with 'death_' for the new deaths so 'death_suspected', 'death_probable' and 'death_confirmed'

After that, we gather all this information into the same dataframe excluding the rest. And then we go over all rows, to simplify descriptions. Indeed, if description contains the word death we change it to 'New deaths' otherwise we change it to 'New cases'. This is done in order to sum the new cases and deaths per day. For example, on the 19th of november 2014 in liberia we have 29 new cases (suspected) and 7 new cases (probable), instead of having these two lines we want one mentioning new cases : 36.

In [16]:
# new cases selection for guinea 
guinea_cond1 = data['Description'] == 'Total new cases registered so far'

# new deaths selections for guinea
guinea_cond2 = data['Description'].str.contains('New deaths registered')
guinea_cond3 = guinea_cond2 & (data[guinea_cond2]['Description'].str.len() < len('New deaths registered')+10)

# new deaths selection for liberia
liberia_cond1 = data['Description'] == 'Newly reported deaths'

# new cases selection for liberia
liberia_cond2 = data['Description'].str.contains('New case/s',case=False)

# new deaths selection for sierra leone
sl_cond1 = data['Description'].str.startswith('death_')

# new cases selection for sierra leone
sl_cond2 = (data['Description'] == 'new_suspected') | (data['Description'] == 'new_probable') | (data['Description'] =='new_confirmed')

# gather all data which satisfy the conditions above
data_selec = data[guinea_cond1 | guinea_cond3 | liberia_cond1 | liberia_cond2 | sl_cond1 | sl_cond2]

# convert 'Totals' column to int
data_selec.is_copy=False
data_selec['Totals'] = data_selec['Totals'].astype(int)

# go over the rows selected to check that the only description gathered are 'New cases of suspects' and 'New deaths registered'
for ind in data_selec['Description'].index:
    if 'death' in data_selec['Description'].loc[ind]:
        data_selec=data_selec.set_value(ind,'Description','New deaths')
    else:
        data_selec=data_selec.set_value(ind,'Description','New cases')
data_selec.head()

         Date Description  Totals Country
3  2014-08-04   New cases       9  guinea
8  2014-08-04  New deaths       2  guinea
45 2014-08-26   New cases      28  guinea
51 2014-08-26  New deaths       5  guinea
77 2014-08-27   New cases      22  guinea

14) For some of the data, there are multiple 'New deaths' and 'New cases' descriptions for same date and same country we sum them regarding the date and country to have one total of new deaths per day per country and one total of new cases per day per country

In [17]:
data_selec_clean=data_selec.groupby(['Date','Description','Country']).sum()

In [18]:
# we reset the index to rearrange the data for further analysis
data_selec_clean.reset_index().head()

        Date Description  Country  Totals
0 2014-06-16   New cases  liberia       4
1 2014-06-16  New deaths  liberia       2
2 2014-06-17   New cases  liberia       2
3 2014-06-17  New deaths  liberia       0
4 2014-06-22   New cases  liberia      10

15) We use the pivot table method to display the total of new cases and new deaths per day in function of country and date

In [19]:
data_selec_clean_pivot=pd.pivot_table(data_selec_clean,index=['Country','Date'], columns='Description', values='Totals')

In [20]:
data_selec_clean_pivot.head()

Description         New cases  New deaths
Country Date
guinea  2014-08-04          9           2
        2014-08-26         28           5
        2014-08-27         22           2
        2014-08-30         24           5
        2014-08-31         46           3

16) Now the last step is to average the data in regard of the month information. Therefore, we use the groupby method to compute the daily average of new cases and deaths per month

In [21]:
data_davg_per_month=data_selec_clean_pivot.groupby([data_selec_clean_pivot.index.get_level_values(1).month,data_selec_clean_pivot.index.get_level_values(0)]).mean().round(3)

17) We rename the 'Date' column into 'Month' and the new cases and deaths columns to indicate that the numbers are now daily averages

In [22]:
data_davg_per_month.index.rename('Month',level=0,inplace=True)
data_davg_per_month.rename(columns={"New cases": "New cases (daily average)", "New deaths": "New deaths (daily average)"},inplace=True)

18) We create a dict which makes the correspondance between the month described by a number and by a string

In [23]:
mapping = {1:'January',2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'}

18) We create a new index based on the index of our 'data_avg_per_month' dataframe which has the months' string values instead and we set it to the new index of this dataframe

In [24]:
str_month_index=data_davg_per_month.index.get_level_values(0).map(lambda x: mapping[x]).unique()

In [25]:
data_davg_per_month.index.set_levels(str_month_index,level=0, inplace=True)

19) Finally, we display the results of our analysis using the groupby method which enable us to show the daily average of new cases and deaths per month per country

In [26]:
data_davg_per_month_per_country=data_davg_per_month.groupby(data_davg_per_month.index.get_level_values(1))

In [27]:
for country,group in data_davg_per_month_per_country:
    display('Country',country)
    display('Results',group)

'Country'

'guinea'

'Results'

Description        New cases (daily average)  New deaths (daily average)
Month     Country
August    guinea                      25.800                       3.400
September guinea                      19.625                       3.562
October   guinea                      34.000                      15.000

'Country'

'liberia'

'Results'

Description        New cases (daily average)  New deaths (daily average)
Month     Country
June      liberia                      5.714                       2.000
July      liberia                      8.545                       4.273
August    liberia                     37.222                      23.222
September liberia                     63.833                      36.042
October   liberia                     45.560                      28.040
November  liberia                     26.467                      13.467
December  liberia                   5178.556                       0.000

'Country'

'sierra leone'

'Results'

Description             New cases (daily average)  New deaths (daily average)
Month     Country
August    sierra leone                     25.150                     331.950
September sierra leone                     40.690                     488.000
October   sierra leone                     70.929                    1162.357
November  sierra leone                     75.238                    1453.476
December  sierra leone                     41.000                    1607.600

Some results make no sense because there are not enough data to compute a consistent average. For example, for the guinea data in October we only have one day of information so the average is not interesting. Or for the month of december in Liberia, there is no information about the new deaths so we end up with a 0 value.

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [24]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here