In [6]:
import pandas as pd
import re
from IPython.core.display import display

In [7]:
full_data=pd.read_csv('./guns-data/full_data.csv')

In [8]:
display(full_data.head())
display(full_data['intent'].values[2] == 'Suicide')
print(full_data['year'].values[0] == 2012)

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED

True

True

In [17]:
nb_suicide=0
death_total=0
nb_suicide_male=0
nb_suicide_male_45older=0
nb_homicide=0

for i in range(0,full_data['intent'].size):
    if(full_data['intent'].values[i] == 'Suicide'):
        nb_suicide+=1
        if(full_data['sex'].values[i] == 'M'):
            nb_suicide_male+=1
        if(full_data['sex'].values[i] == 'M' and full_data['age'].values[i] >= 45):
            nb_suicide_male_45older+=1
    elif(full_data['intent'].values[i] == 'Homicide'):
        nb_homicide+=1
  
    death_total+=1

print('Il y a en moyenne chaque année',round(death_total/3),'morts dont',round(nb_suicide/3),'morts par suicide.')
print('Le taux de mort par suicide est donc d\'environ:',round(nb_suicide*100/death_total),'%')
print(round(nb_suicide_male*100/nb_suicide),'% des victimes de suicide sont des hommes.')
print(round(nb_suicide_male_45older*100/nb_suicide),'% des victimes de suicide sont des hommes de plus de 45 ans.')
print('Environ',round(nb_homicide/3), 'morts sont des homicides soit environ',round(nb_homicide*100/death_total)),'%'

Il y a en moyenne chaque année 33599 morts dont 21058 morts par suicide.
Le taux de mort par suicide est donc d'environ: 63 %
86 % des victimes de suicide sont des hommes.
53 % des victimes de suicide sont des hommes de plus de 45 ans.
Environ 11725 morts sont des homicides soit environ 35

(None, '%')